.picklist-container,
.lookup-container{
    width : 90%;
    margin: 0 auto;
    position: absolute !important;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    position: absolute !important;
    z-index: 99 !important;
    max-height: 120px;
    max-width: fit-content;
    overflow: auto;
}

[lightning-combobox_combobox-host]{
    margin-bottom: 17px;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}

.picklist-just-text {
    height: 100%;
    width: 100%;
    padding: .2rem .5rem;
    display: flex;
    flex-direction: row;
}

.picklist-just-text:hover {
    background-color: white;
}

.button-edit {
    display: none;
}

.picklist-just-text:hover .button-edit {
    display: flex;
}

.slds-grid_align-spread, .slds-grid--align-spread {
    justify-content: space-between;
    width: 100%;
}

/* .slds-table_edit thead th:first-child{
    width: 60px;
} */